---
kind: Service
apiVersion: v1
metadata:
  name: post-service
spec:
  selector:
    app: post-service
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
