[submodule "auth-service"]
	path = auth-service
	url = https://github.com/vvtri/sim-fri-auth-service
[submodule "common"]
	path = common
	url = https://github.com/vvtri/sim-fri-common
[submodule "post-service"]
	path = post-service
	url = https://github.com/vvtri/sim-fri-post-service
[submodule "file-service"]
	path = file-service
	url = https://github.com/vvtri/sim-fri-file-service
[submodule "shared"]
	path = shared
	url = https://github.com/vvtri/sim-fri-shared
[submodule "friend-service"]
	path = friend-service
	url = https://github.com/vvtri/sim-fri-friend-service
[submodule "message-service"]
	path = message-service
	url = https://github.com/vvtri/sim-fri-message-service
[submodule "base-service"]
	path = base-service
	url = https://github.com/vvtri/sim-fri-base-service
[submodule "client"]
	path = client
	url = https://github.com/vvtri/sim-fri-client
