[submodule "auth-service"]
	path = auth-service
	url = https://github.com/vvtri/sim-fri-auth-service
[submodule "common"]
	path = common
	url = https://github.com/vvtri/sim-fri-common
[submodule "post-service"]
	path = post-service
	url = https://github.com/vvtri/sim-fri-post-service
[submodule "file-service"]
	path = file-service
	url = https://github.com/vvtri/sim-fri-file-service
[submodule "shared"]
	path = shared
	url = https://github.com/vvtri/sim-fri-shared
