apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-srv
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api/auth-service/?(.*)
            pathType: Prefix
            backend:
              service:
                name: auth-service
                port:
                  number: 5000
          - path: /api/file-service/?(.*)
            pathType: Prefix
            backend:
              service:
                name: file-service
                port:
                  number: 5000
          - path: /api/post-service/?(.*)
            pathType: Prefix
            backend:
              service:
                name: post-service
                port:
                  number: 5000
          - path: /api/message-service/?(.*)
            pathType: Prefix
            backend:
              service:
                name: message-service
                port:
                  number: 5000
          - path: /api/friend-service/?(.*)
            pathType: Prefix
            backend:
              service:
                name: friend-service
                port:
                  number: 5000
          - path: /api/noti-service/?(.*)
            pathType: Prefix
            backend:
              service:
                name: noti-service
                port:
                  number: 5000
          # - path: /?(.*)
          #   pathType: Prefix
          #   backend:
          #     service:
          #       name: client
          #       port:
          #         number: 3000
