---
kind: Service
apiVersion: v1
metadata:
  name: file-service
spec:
  selector:
    app: file-service
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
